@import 'styles/Colors.scss';

$headerFont: Vollkorn;

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $backgroundColor;
}

section {
    margin: 0 auto;
}

code {
    font-family: 'Fira Code', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
    font-weight: 400;
    font-family: $headerFont;
}

h2 {
    font-weight: 300;
    font-family: $headerFont;
}

h3 {
    font-weight: 300;
    font-family: $headerFont;
}

::-webkit-scrollbar {
    display: none;
}

footer {
    background: $navigation;
    text-align: center;
    padding: 25px;
}

footer a {
    font-style: none;
    text-decoration: none;
    color: white;
}

section {
    width: 100%;
    padding: 20px 0;
}

.sectionContainer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 5px;
}

td {
    min-width: 150px;
}
table {
    box-shadow: 0 0 35px rgba(0,0,0,0.2);
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    background-color: white;
}


img {
    width: 95%;
    height: 95%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    margin: 2.5%;
}

button {
    border: none;
    background: inherit;
    font: inherit;
    color: #4183d7;
    cursor: pointer;
    padding: 0;
}

p {
    text-align: justify;
    margin: 0 auto;
}

#Data {
    background-color: $backgroundColorSecondary;
}

#Centrality {
    background-color: $backgroundColorSecondary;
}

#Paths {
    background-color: $backgroundColorSecondary;
}

#Discussion {
    background-color: $backgroundColorSecondary;
}
